.o-editor {
    .components-button-group {
        .components-button {
            border-radius: $o-border-radius-small;
            margin-left: 4px;

            &:first-child {
                margin-left: 0;
            }

            &.is-pressed {
                background-color: var(--wp-admin-theme-color);
            }

            .dashicon {
                margin-inline-end: $o-space-10;
            }
        }
    }
}
