.o-editor {
    .interface-complementary-area {

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            &.flex-2 {
                
                div {
                    width: 46%;

                    div {
                        width: 100%;
                    }
                }
            }

            .components-base-control {
                margin-bottom: 0;
            }
        }

        .pt-none{ padding-top: 0; }
        .pt-smaller{ padding-top: calc($base_padding / 4); }
        .pt-small  { padding-top: calc($base_padding / 2); }
        .pt-medium { padding-top: $base_padding; }
        .pt-big    { padding-top: calc($base_padding * 2); }
        .pt-bigger { padding-top: calc($base_padding * 4); }

        .pb-none{ padding-bottom: 0; }
        .pb-smaller{ padding-bottom: calc($base_padding / 4); }
        .pb-small  { padding-bottom: calc($base_padding / 2); }
        .pb-medium { padding-bottom: $base_padding; }
        .pb-big    { padding-bottom: calc($base_padding * 2); }
        .pb-bigger { padding-bottom: calc($base_padding * 4); }

        .mt-none{  margin-top: 0; }
        .mt-smaller{  margin-top: calc($base_padding / 4); }
        .mt-small  { margin-top: calc($base_padding / 2); }
        .mt-medium { margin-top: $base_padding; }
        .mt-big    { margin-top: calc($base_padding * 2); }
        .mt-bigger { margin-top: calc($base_padding * 4); }

        .mb-none{ margin-bottom: 0; }
        .mb-smaller{ margin-bottom: calc($base_padding / 4); }
        .mb-small  { margin-bottom: calc($base_padding / 2); }
        .mb-medium { margin-bottom: $base_padding; }
        .mb-big    { margin-bottom: calc($base_padding * 2); }
        .mb-bigger { margin-bottom: calc($base_padding * 4); }
    }
}