.block-editor-block-list__block[data-type="custom/wpe-grid"] {

    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-top: 70px;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: -40px;
    margin-bottom: 1rem;

    &::before {

        content: 'Grid';
        display: block;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        font-size: .6rem;
        background: #007cba;
        color: white;
        padding: 0px 10px;
    }

    &.is-selected {

        &::before {
            visibility: visible;
        }
    }

    &.has-child-selected {

        &::before {
            visibility: visible;
        }
    }

    // &:hover::after,
    &:focus::after,
    &:active::after,
    &.is-selected::after,
    &.has-child-selected::after {
        // &::after {
        // box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        // border: 1px dashed rgba(0, 124, 186, 0.2);
        background: rgba(0, 124, 186, 0.05);
        box-shadow: none !important;
    }
    // &:not([contenteditable]):focus::after {
    //     border: none;
    // }
}

.block-editor-block-list__layout.is-root-container > .block-editor-block-variation-picker {
    max-width: $max_width_main_column;
    margin: auto;
    margin-top: $base_padding;
}

.deviceButtonGroup {

    position: relative;
    z-index: 9;
    visibility: hidden;
    text-align: center;

    &:hover,
    &:active,
    &:focus,
    &.is-selected {
        visibility: visible;
    }
}