.o-editor {

    .block-editor-media-placeholder {
        min-height: 0;
        box-shadow: none !important;
        outline: none !important;
        background: none;
        border-radius: $o-border-radius-small;
        padding: $o-space-40;

        .components-placeholder__fieldset {

            display: flex;
            justify-content: center;
            column-gap: $o-space-20;

            &:has( .media-preview-container ) {
                display: grid;
                justify-content: initial;

                .components-button {
                    width: 100%;
                }
            }
            
            .components-button {
                margin: 0;
                justify-content: center;
                display: inline-flex;
                align-items: center;
                margin-bottom: $o-space-10;
                width: 120px;
                opacity: 0.2;
            }

            .media-preview-container {
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 5;
            }

            .components-form-file-upload, .components-button.is-tertiary, .components-button.is-destructive {
                grid-column-start: 4;
                grid-column-end: 5;
            }

            .components-form-file-upload {
                grid-row-start: 1;
                grid-row-end: 2;
            }
            .components-button.is-tertiary {
                grid-row-start: 2;
                grid-row-end: 3;

                box-shadow: inset 0 0 0 1px rgb(0 124 186 / 50%) !important;

                &:hover {
                    box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color) !important;
                }
            }
            .components-button.is-destructive {
                grid-row-start: 3;
                grid-row-end: 4;

                box-shadow: inset 0 0 0 1px rgb(204 24 24 / 50%) !important;

                &:hover {
                    box-shadow: inset 0 0 0 1px #710d0d !important;
                }
            }
        }
    }

    .basicField:hover > .components-placeholder > .components-placeholder__fieldset > .components-button,
    .basicField:hover > .components-placeholder > .components-placeholder__fieldset > .components-form-file-upload > .components-button,
    .basicField:hover > .responsive-tab-panel-wpe-component > .components-placeholder > .components-placeholder__fieldset > .components-button,
    .basicField:hover > .responsive-tab-panel-wpe-component > .components-placeholder > .components-placeholder__fieldset > .components-form-file-upload > .components-button {
        opacity: 1;
    }
}
