.o-editor {
    .block-editor-block-list__block[data-type="custom/wpe-column"] {
        width: 100%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        box-sizing: border-box;
        padding-top: $o-space-100 !important;
        padding-bottom: $o-space-20;

        &:before {
            border: 1px dashed var(--wp-admin-theme-color);
        }

        &.is-empty {
            padding-top: $o-space-100 !important;
        }

        &:hover {
            & > .block-list-appender {
                visibility: visible;
            }

            & > .block-editor-block-list__block {
                z-index: 20;
            }
        }

        &:not([contenteditable])::focus::after {
            border: none;
        }

        > .o-toolbar-container {
            display: none !important;
        }
    }
}

.o-editor-app {
    .basicField {
        .column-layout {
            .flex {
                & > .basicField {
                    margin-right: 5%;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
