.o-editor {

    .block-editor-block-list__block[data-type="custom/wpe-column"] {
        width: 100%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        box-sizing: border-box;
        padding-top: 60px !important;

        &.is-empty {
            padding-top: 80px !important;
        }

        &:hover > .block-list-appender {
            visibility: visible !important;
        }

        &:not([contenteditable])::focus::after {
            border: none;
        }
    }

}