.o-editor {
    .block-editor-block-inspector {
        .child-range-control {
            padding-left: 10px;
        }
    }

    .components-base-control {
        // position: relative;

        // &:before {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 0; left: 0;
        //     width: 2px; height: 100%;
        //     background:red;
        // }
    }

    .components-base-control .components-base-control__label,
    .components-base-control .components-input-control__label,
    .components-base-control__forced_label {
        display: flex !important;
        align-items: center !important;
        text-transform: none !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 1 !important;
        max-width: 100% !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        border-left: 3px solid $o-accent-color-border !important;
        padding: 10px 10px 10px 10px !important;
        margin-bottom: 10px !important;
        border-bottom: none !important;
        height: auto !important;
    }

    .block-editor-block-list__layout {
        & > .wp-block {
            &:has(> .loaderLiveRenderingIframe) {
                height: 100vh;
            }

            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }

            .block-list-appender {
                visibility: hidden;
                margin: auto;
                width: 90%;
                border-top: 1px dashed var(--wp-admin-theme-color);
                padding-top: 18px;
            }

            .alert {
                color: red;
                border: 2px solid red;
                padding: 4em 0;
                text-align: center;
            }

            .wpe-block-placeholder {
                position: relative;
                background: white;
                display: block;
                padding: $o-space-30 $o-space-60;

                h2 {
                    color: var(--wp-admin-theme-color);
                }

                .abtButtonEditZone {
                    display: inline-flex;
                }
                .inner {
                    position: relative;
                    padding: $o-space-30 0 $o-space-50 0;
                    font-size: 16px;

                    .dashicon {
                        font-size: 40px;
                        width: auto;
                        height: auto;
                    }
                }
            }
        }
    }
}

.o-editor.dark {
    .o-editor {
        border: 1px solid var(--wp-admin-theme-color);
    }
}
