.o-editor {
    .block-editor-block-parent-selector {
        border-radius: $o-border-radius-small !important;
        border: none !important;
        display: none;
    }

    .components-popover {
        // .block-editor-block-contextual-toolbar {
        //     transform: translateY(50%);
        //     margin: 0 !important;
        // }

        .block-editor-block-contextual-toolbar {
            border-radius: $o-border-radius-small;
            border: none;

            * {
                color: $o-text-color;
                fill: $o-text-color;
                border-color: $o-text-color !important;
            }
        }
        .block-editor-block-toolbar__block-controls {
            border-color: $o-text-color !important;
        }

        .components-popover__content {
            border-radius: $o-border-radius-small;
        }
    }
}
