.o-editor {
    
    .components-datetime, .components-datetime__date, .components-datetime__time {
        border-radius: $o-border-radius;
        border: 1px solid $o-main-color-border;
        background: white;
        padding: $o-space-40;
        box-sizing: border-box;
        max-width: 460px;
        margin-bottom: $o-space-10;

        .components-input-control__container {

            .components-select-control__input {
                padding: 2 $o-space-30 !important;
            }
        }

        .components-datetime__time-separator {
            border: none;
        }
        .components-input-control__container {

            .components-input-control__backdrop {
                border-radius: $o-border-radius;
                border: 1px solid #e8e8e8;
            }
        }

        .components-datetime__time-field-time {

            .components-datetime__time-field-hours-input, .components-datetime__time-field-minutes-input {

                .components-input-control__input {
                    padding-left: $o-space-10 !important;
                    padding-right: $o-space-10 !important;
                }
            }
        }
    }
}