.o-editor {
    .basicField {
        position: relative;
        width: 100%;

        &.has-error {
            &::before {
                content: '';
                background: rgb(220 50 50 / 50%);
                width: $o-space-10;
                height: 100%;
                position: absolute;
                top: 0;
                left: -$o-space-70;
            }

            &:has(> .components-panel) {
                &::before {
                    content: none;
                }
                & > .components-panel {
                    border-color: rgb(220, 50, 50) !important;

                    > .components-panel__body > .components-panel__body-title {
                        background: rgb(220, 50, 50) !important;
                        .components-button {
                            color: white;
                            .components-panel__arrow,
                            .error {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        &.has-warning {
            &::before {
                content: '';
                background: rgb(255 105 0 / 50%) !important;
                width: $o-space-10;
                height: 100%;
                position: absolute;
                top: 0;
                left: -$o-space-70;
            }

            &:has(> .components-panel) {
                &::before {
                    content: none;
                }
                & > .components-panel {
                    border-color: rgb(255 105 0 / 50%) !important;
                }
            }
        }

        .error,
        .warning {
            background: none;
            border: none;
            padding: 0;
            margin: 0 0 0 $o-space-30;
            box-shadow: none;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 13px;

            .dashicon {
                margin-right: $o-space-10;
            }

            ul {
                margin: 0;

                li {
                    margin: 0;
                }
            }
        }
        .error {
            color: #d63638;
        }
        .warning {
            color: var(--wp--preset--color--luminous-vivid-orange);
        }

        .responsive-tab-panel-wpe-component {
            position: relative;
            width: 100%;
            padding-top: $o-space-20;

            .responsive-buttons-container {
                position: absolute;
                z-index: 1;
                top: $o-space-10;
                right: 0;
            }

            .tab-panel-wpe-component.videoType {
                margin-top: $o-space-40;

                .components-tab-panel__tabs {
                    position: relative;
                    z-index: 1;
                    background: $background300;
                }
            }
        }

        .default-overlay-container {
            position: absolute;
            top: -5px;
            left: -10px;
            width: calc(100% + 20px);
            height: calc(100% + 10px);
            background: rgb(252 252 252 / 80%);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;

            .components-button {
                opacity: 0;
                box-shadow: 2px 2px 10px rgb(0 0 0 / 30%) !important;
                transition: $o-transition-default;
            }

            &.isResponsive {
                top: 60px;
                height: calc(100% - 55px);

                .components-button {
                    opacity: 1;

                    .dashicons {
                        margin-right: $o-space-20;
                    }
                }
            }

            &:hover {
                .components-button {
                    opacity: 1;
                }
            }
        }

        &:after {
            background: rgba(252, 252, 252, 0.9);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            z-index: 1;
        }

        .buttons-changes-container {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: absolute;
            width: 100%;
            z-index: 2;
            left: 0;
            top: calc(100% + 10px);
            background: $background300;
            padding: $o-space-50 0;
            border-radius: $o-border-radius-small;

            .components-button {
                margin: 0;
            }
        }
    }

    .tab-panel-wpe-component {
        width: 100%;

        &:has(.basicField.updating) {
            .basicField:not(.updating):after {
                display: block;
            }
            .basicField.updating .basicField:not(.updating):after {
                display: none;
            }
            .basicField:has(.basicField.updating)::after {
                display: none;
            }
        }
    }
}
