.o-editor {

    .basicField {
        position: relative;
        width: 100%;

        &.has-error {

            &::before{
                content: "";
                background: rgb(220 50 50 / 50%);
                width: $o-space-10;
                height: 100%;
                position: absolute;
                top: 0;
                left: -$o-space-70;
            }

            &:has( > .components-panel ) {

                &::before {
                    content: none;
                }
                & > .components-panel {
                    border-color: rgba(220, 50, 50, 0.5) !important;
                }
            }
        }

        .error {
            background: none;
            border: none;
            padding: 0;
            margin: 0 0 0 $o-space-30;
            color: #d63638;
            box-shadow: none;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 13px;

            .dashicon {
                margin-right: $o-space-10;
            }

            ul {
                margin: 0;

                li {
                    margin: 0;
                }
            }
        }

        .responsive-tab-panel-wpe-component {
            position: relative;
            width: 100%;
            padding-top: $o-space-20;
        
            .responsive-buttons-container {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
            }
        
            .tab-panel-wpe-component.videoType {
                margin-top: $o-space-40;
        
                .components-tab-panel__tabs {
                    position: relative;
                    z-index: 1;
                    background: $background300;
                }
            }
        
        }
    }
}