.o-editor {
    .block-editor-block-list__block[data-type='custom/wpe-grid'] {
        > .o-toolbar-container {
            .o-toolbar {
                .svg {
                    width: 80px;
                    height: 32px;
                    svg {
                        fill: rgb(220, 220, 220);
                        transition: $o-transition-fast;
                        width: 100%;
                        height: auto;
                    }
                }
                &::after {
                    content: none;
                }
                &:hover {
                    svg {
                        fill: var(--wp-admin-theme-color);
                    }
                }
            }
        }
        .o-grid-container {
            display: grid;
            padding: $o-space-10;
            column-gap: $o-space-10;
            row-gap: $o-space-10;
            grid-auto-columns: 1fr;
            grid-auto-flow: column;

            & > .block-editor-block-list__block[data-type='custom/wpe-column'] {
                width: 100% !important;
                max-width: 100% !important;

                .block-editor-block-list__block {
                    width: 100% !important;
                    max-width: 100% !important;
                }
            }
        }

        .o-grid-add-column {
            display: flex;
            position: relative;
            border: 1px dashed $o-accent-color;
            padding: $o-space-30 0;
            margin: $o-space-50;
            color: $o-accent-color;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            visibility: hidden;

            &:hover {
                border-style: solid;
            }

            .dashicon {
                margin-right: $o-space-10;
            }
        }

        &:hover,
        &.is-selected {
            .o-grid-add-column {
                visibility: visible;
            }

            > .o-grid-container
                > .block-editor-block-list__block[data-type='custom/wpe-column']:not(
                    :hover
                )::before {
                opacity: 0.6;
            }
        }
    }

    .block-editor-block-list__layout.is-root-container
        > .block-editor-block-variation-picker {
        max-width: $max_width_main_column;
        margin: auto;
        margin-top: $base_padding;
    }

    .basicField,
    .wpe-block-placeholder {
        .grid-layout {
            .items {
                display: flex;
                row-gap: $o-space-40;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: $o-space-40;

                .item {
                    width: 30%;

                    svg {
                        fill: $border300;
                        transition: $o-transition-fast;
                        width: 100%;
                        height: auto;

                        rect {
                            stroke-width: 3px;
                            stroke: rgb(220, 220, 220);
                        }
                    }
                    &:hover,
                    &.active {
                        cursor: pointer;
                        svg {
                            fill: var(--wp-admin-theme-color);
                        }
                    }
                }
            }

            .initialGridLayout {
                .items {
                    column-gap: $o-space-40;
                    margin-top: 0;
                    justify-content: initial;

                    .item {
                        max-width: 250px;
                    }
                }
            }
        }
    }
}
