body.o-editor-enabled {
    .block-editor-block-list__block.wp-block .block-list-appender {
        position: relative;
    }

    .inspectorButtonInsertNew {
        width: 100%;
        display: flex;
        justify-content: center;
        max-width: 400px;
        margin: auto;
        margin-bottom: 0;

        .components-button {
            font-weight: 500;
            padding: $o-space-10 $o-space-40;
            justify-content: center;

            &:first-child {
                border-top-left-radius: $o-border-radius-small;
                border-bottom-left-radius: $o-border-radius-small;
            }
            &:last-child {
                border-top-right-radius: $o-border-radius-small;
                border-bottom-right-radius: $o-border-radius-small;
            }
        }

        .dashhicon {
            font-size: 17px;
            height: auto;
            width: auto;
        }
    }

    .wpe-modal.modal-insertNewBlock {
        width: 1400px;
        max-width: 95%;

        .new_page_info {
            text-align: center;

            h1 {
            }
            p {
            }
        }

        .titleModal {
            text-align: center;
            padding: $o-space-20 0 $o-space-40 0;
            color: $o-accent-color;
        }

        .panelInspectorInsertNewBlock {
            .components-tab-panel__tabs {
                background: #d8eef8;
                padding: 0 $o-space-40;

                button {
                    border-bottom: 2px solid #d8eef8;

                    &.active-tab {
                        border-color: var(--wp-admin-theme-color);
                    }
                }
            }
        }

        .items {
            display: flex;
            flex-wrap: wrap;
            row-gap: $o-space-40;
            column-gap: $o-space-40;
            padding: $o-space-40;
            background: $background300;

            .item {
                position: relative;
                display: block;
                width: calc((100% - 3 * $o-space-40) / 4);
                cursor: pointer;
                background: rgb(250, 250, 250);

                &:hover {
                    .blockTitle {
                        background: var(--wp-admin-theme-color);
                    }
                    .previewContainer {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }

                .previewContainer {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 16/9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        transition: $o-transition-default;
                    }
                }

                .blockTitle {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-weight: 600;
                    padding: 12px 0;
                    transition: $o-transition-default;
                    background: rgb(0 0 0 / 60%);
                    color: white;
                }
            }
        }
    }
}
