body.o-editor-enabled {
    .block-editor-block-list__block.wp-block .block-list-appender {
        position: relative;
    }

    .inspectorButtonInsertNew {
        width: 100%;
        display: flex;
        justify-content: center;
        max-width: 400px;
        margin: auto;
        margin-bottom: 0;

        .components-button {
            font-weight: 500;
            padding: $o-space-10 $o-space-40;
            justify-content: center;

            &:first-child {
                border-top-left-radius: $o-border-radius-small;
                border-bottom-left-radius: $o-border-radius-small;
            }
            &:last-child {
                border-top-right-radius: $o-border-radius-small;
                border-bottom-right-radius: $o-border-radius-small;
            }
        }

        .dashhicon {
            font-size: 17px;
            height: auto;
            width: auto;
        }
    }

    .wpe-modal.modal-insertNewBlock {
        max-width: 1800px;

        .new_page_info {
            text-align: center;
            margin: $o-space-50 0;
        }

        .components-tab-panel__tabs {
            background: none;
            justify-content: center;

            button {
                position: relative;
                padding: $o-space-20 $o-space-40;
                border-bottom: 2px solid transparent;
                transition: all 0.1s ease-in-out;
            }
        }

        .switch_blocks_patterns > .components-tab-panel__tabs {
            background: $background300;

            button {
                padding: $o-space-40 $o-space-80;
                border-bottom: 2px solid transparent;

                &.active-tab {
                    color: var(--wp-admin-theme-color);
                    border-color: var(--wp-admin-theme-color);
                }
            }
        }

        .panelInspectorInsertNewBlock {
            .components-tab-panel__tabs {
                padding-top: $o-space-40;

                button {
                    height: auto;
                    border-radius: $o-border-radius !important;
                    border: none;
                    background: $background300;

                    &.active-tab {
                        background: var(--wp-admin-theme-color);
                        color: white;
                    }
                }
            }
        }

        .items {
            display: flex;
            flex-wrap: wrap;
            row-gap: $o-space-60;
            column-gap: $o-space-60;
            padding: $o-space-60 0;

            .item {
                position: relative;
                display: block;
                width: calc((100% - 2 * $o-space-60) / 3);
                cursor: pointer;
                border: 2px solid white;
                box-shadow: $o-depth-100;

                &:hover {
                    .blockTitle {
                        background: var(--wp-admin-theme-color);
                    }
                    .previewContainer {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }

                .previewContainer {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 16/9;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        transition: $o-transition-default;
                    }
                }

                .blockTitle {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-weight: 600;
                    padding: 12px 0;
                    transition: $o-transition-default;
                    background: rgb(0 0 0 / 80%);
                    color: white;
                }
            }
        }
    }
}
