.o-editor {

    .media-preview-container {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.empty {

            aspect-ratio: 16/9;

            .diagonal1,
            .diagonal2 {
                content: '';
                position: absolute;
                top: 5%;
                left: 5%;
                width: 90%;
                height: 90%;
                background: rgb(220,220,220);
            }
            .diagonal1 {
                clip-path: polygon(0% 0%, 100% calc(100% - 1px), 100% 100%, 0% calc(0% + 1px));
            }
            .diagonal2 {
                clip-path: polygon(0% calc(100% - 1px), 100% 0%, 100% calc(0% + 1px), 0% 100%);
            }
            .inner{
                position: relative;
                padding: 80px 200px;
                background: radial-gradient(circle, $background300 60%, rgba(0,212,255,0) 100%);
                color: #a0a0a0
            }
        }

        .reset-button{
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
            
            .dashicon {
                margin-inline-end: 0;
            }
        }

        &:hover > .reset-button{
            display: block;
        }
    }
    .image {

        .media-preview-container {
        
            img {
                object-fit: contain;
                width: 100%;
                max-height: 340px;
            }

            &.empty {

                .inner{
                    padding: 100px;
                }
            }
        }
    }
}