.o-editor-app {
    position: fixed;
    right: calc($o-space-50 + 10px);
    width: 280px;
    top: calc(61px + $o-space-50);
    height: 200px;
    max-height: calc(100vh - 61px - 2 * $o-space-50);
    background: white;
    border-radius: $o-border-radius;
    z-index: 99999;
    box-sizing: border-box;
    transition: all .2s ease-out;
    display: flex;
    flex-direction: column;
    box-shadow: $o-depth-100;
    overflow: hidden;
    transform: translate(840px, 0);

    .show & {
        transform: translate(0, 0);
    }

    &.block {
        width: 800px;
        height: calc(100vh - 61px - 2 * $o-space-50);
    }

    &.inspector {
        width: 480px;
        height: calc(100vh - 61px - 2 * $o-space-50);
    }
    
    &.settings {
        width: 480px;
        height: 380px;
    }

    .is-mode-text & {
        display: none;
    }

    ._loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        opacity: 0;
        z-index: 1;
        display: none;
        transition: opacity 1s;
    }

    &.is-updating {
        ._loader {
            opacity: 1;
        }   
    }

    .o-editor.hide & {
        right: -500px;
        box-shadow: none;
    }

    &_inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &_header {
        padding: $o-space-40 $o-space-70 $o-space-30 $o-space-70;
        background: $o-accent-color;
        border-top-left-radius: $o-border-radius;
        border-top-right-radius: $o-border-radius;
        display: flex;
        align-items: center;

        .breadcrumb {
            
            display: flex;
            align-items: center;
            margin-bottom: $o-space-10;

            .is-link {
                color: rgb(255 255 255 / 50%);
                text-decoration: none;
                padding: 0;
                font-size: 12px;

                &:hover {
                    color: white;
                }
            }

            .dashicon {
                font-size: 1em;
                height: auto;
                width: auto;
                transition-duration: 0.05s;
                transition-timing-function: ease-in-out;
            }
            
        }
        
        h2 {
            color: $o-foreground-color;
            margin: 0;

            .subtitle {
                padding-left: $o-space-20;
                color: rgb(255 255 255 / 50%);
                font-size: 12px;
            }
        }

        .tools {
            margin-left: auto;
            
            .components-dropdown-menu__toggle {
                color: $o-foreground-color;

                &:focus {
                    box-shadow: none;
                }

                &:hover {
                    color: $o-foreground-color;
                }
            }
        }
    }

    &_body {
        display: flex;
        flex-direction: column;
        gap: $o-space-50;
        flex-grow: 1;
        padding: $o-space-40 $o-space-70;
        overflow: auto;
        background: $o-background-color;

        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background-color: white;
            border-left: 1px solid $border300;
        }
        &::-webkit-scrollbar-thumb {
            background: #74a9c3;
        }

        .description {
            background: $o-background-color;
            border-radius: 2px;
            padding: $o-padding;
            border-radius: $o-border-radius;

            .row {
                display: flex;
                align-items: center;
                text-align: justify;
            }

            .dashicon {
                margin-inline-end: $o-space-20;
            }
        }
    }

    &_footer {
        display: flex;
        padding: $o-padding;
        background: $o-background-color;
        border-bottom-left-radius: $o-border-radius;
        border-bottom-right-radius: $o-border-radius;
        border-top: 1px solid $o-main-color-border;
        gap: $o-space-30;    
    }

    &.is-reusable {

        .o-editor-app_header {
            background: $o-warn-color;
        }

        .components-dropdown-menu__toggle {
            color: $o-foreground-color;

            &:focus {
                box-shadow: none;
            }

            &:hover {
                color: $o-foreground-color;
            }
        }
    }

    &.inspector, &.welcome, &.settings {

        li > ul {
            padding: 0 0 0 $o-space-30;
        }

        ul {
            margin: 0;
            
            .separator {
                height: 1px;
                border-bottom: 1px solid $border300;

                &:last-child {
                    display: none;
                }
            }
        }

        li {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        .is-tertiary {
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            text-align: left;
            padding: $o-space-20 0;
            font-weight: 500;
            font-size: 1.1em;
            
            &.animate {
                transform: translate(-20px, 0);
                transition: $o-transition-fast;

                &:hover {
                    transform: translate(0, 0);
                }
            }
            .dashicon {
                font-size: 1em;
                height: auto;
                width: auto;
            }

            .anchor {
                color: rgb(30 30 30 / 50%);
                font-weight: 400;
                font-size: 0.8em;
                margin-left: $o-space-10;
            }
        }
    }


    &.welcome {
        .is-tertiary {
            font-weight: initial;
            font-size: 1em;
            color: $o-text-color;

            .dashicon {
                font-size: 1.5em;
                margin-inline-end: $o-space-20;
            }
        }
    }

    &.settings {
        
        li:not(.separator) {
            padding: $o-space-30 0;
        }

        .components-base-control {
            margin: 0;
        }
    }

    

    .block &_body {
        padding: 0;
    }

    .is-reusable-block &_body {

        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background-color: white;
        }
        &::-webkit-scrollbar-thumb {
            background: $o-warn-color;
        }

        .description {
            background: $o-warn-color-light;
        }
    }
    
    .is-reusable-block &_footer {
        
        .components-button.is-primary {
            background: $o-warn-color;

            &:hover {
                background: $o-warn-color-dark;
            }

        }
    }
}