.o-editor-app {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    min-width: 250px;
    min-height: 250px;
    // height: calc(100vh - 61px - 2 * $o-space-50);
    background: white;
    border-radius: $o-border-radius;
    z-index: 99999;
    box-sizing: border-box;
    // transition-property: transform, width, height;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    box-shadow: $o-depth-100;
    transform: translate(840px, 0);

    .show & {
        transform: translate(0, 0);
    }

    &.block {
        width: 800px;
        height: calc(100vh - 61px - 2 * $o-space-50);
        min-width: 600px;
        min-height: 600px;
    }

    &.settings {
        width: 480px;
        height: 380px;
    }

    &.help {
        width: 360px;
        height: 400px;
    }

    .is-mode-text & {
        display: none;
    }

    ._loader {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        opacity: 0;
        z-index: 1;
        display: none;
        transition: opacity 1s;
    }

    &.is-updating {
        ._loader {
            opacity: 1;
        }
    }

    .o-editor.hide & {
        right: -840px;
        box-shadow: none;
    }

    &_inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &_header {
        padding: $o-space-40 $o-space-60 $o-space-40 $o-space-70;
        background: $o-accent-color;
        border-top-left-radius: $o-border-radius;
        border-top-right-radius: $o-border-radius;
        display: flex;
        align-items: center;
        cursor: move;

        .breadcrumb {
            display: flex;
            align-items: center;
            margin-bottom: $o-space-10;

            .is-link {
                color: rgb(255 255 255 / 50%);
                text-decoration: none;
                padding: 0;
                font-size: 12px;

                &:hover {
                    color: white;
                }
            }

            .dashicon {
                font-size: 1em;
                height: auto;
                width: auto;
                transition-duration: 0.05s;
                transition-timing-function: ease-in-out;
            }
        }

        h2 {
            color: $o-foreground-color;
            margin: 0;
            font-size: 26px;

            .subtitle {
                padding-left: $o-space-20;
                color: rgb(255 255 255 / 50%);
                font-size: 12px;
            }
        }

        .tools {
            margin-left: auto;

            .dashicon {
                margin: 0 !important;
            }

            .components-dropdown-menu__toggle {
                color: $o-foreground-color;

                &:focus {
                    box-shadow: none;
                }

                &:hover {
                    color: $o-foreground-color;
                }
            }
        }
    }

    &_body {
        display: flex;
        flex-direction: column;
        gap: $o-space-50;
        flex-grow: 1;
        padding: $o-space-40 $o-space-70 $o-space-70 $o-space-70;
        overflow: auto;
        background: $o-background-color;
        border-bottom-left-radius: $o-border-radius;
        border-bottom-right-radius: $o-border-radius;

        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background-color: white;
            border-left: 1px solid $border300;
        }
        &::-webkit-scrollbar-thumb {
            background: #74a9c3;
        }

        .description {
            background: $o-background-color;
            border-radius: 2px;
            padding: $o-padding;
            border-radius: $o-border-radius;

            .row {
                display: flex;
                align-items: center;
                text-align: justify;
            }

            .dashicon {
                margin-inline-end: $o-space-20;
            }
        }
    }

    &_footer {
        display: flex;
        padding: $o-padding;
        background: $o-background-color;
        border-bottom-left-radius: $o-border-radius;
        border-bottom-right-radius: $o-border-radius;
        border-top: 1px solid $o-main-color-border;
        gap: $o-space-30;
    }

    &.is-reusable {
        .o-editor-app_header {
            background: $o-complementary-color;
        }

        .components-dropdown-menu__toggle {
            color: $o-foreground-color;

            &:focus {
                box-shadow: none;
            }

            &:hover {
                color: $o-foreground-color;
            }
        }
    }

    &.inspector,
    &.help,
    &.settings {
        li > ul {
            padding: 0 0 0 $o-space-50;
        }

        ul {
            margin: 0;

            .separator {
                height: 1px;
                border-bottom: 1px solid $border300;

                &:last-child {
                    display: none;
                }
            }
        }

        li {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        .inspectorBlockListButtonGroup {
            display: flex;
            align-items: center;

            .dashicon {
                font-size: 1em;
                height: auto;
                width: auto;
                margin-right: $o-space-10;
            }

            &:hover {
                .dashicon,
                .is-tertiary {
                    color: $o-accent-color;
                }
            }
        }

        .is-tertiary {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            text-align: left;
            padding: $o-space-20 0;
            font-weight: 500;
            font-size: 1.1em;
            color: #1e1e1e;

            .anchor {
                color: rgb(30 30 30 / 50%);
                font-weight: 400;
                font-size: 0.8em;
                margin-left: $o-space-10;
            }

            .error-attributes,
            .warning-attributes {
                position: relative;
                top: -$o-space-10;
                margin-left: $o-space-10;
                color: white;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 9px;
            }
            .error-attributes {
                background: $o-accent-red-color;
            }
            .warning-attributes {
                background: var(--wp--preset--color--luminous-vivid-orange);
            }
        }
    }

    &.help {
        .is-tertiary {
            font-weight: initial;
            font-size: 1em;
            color: $o-text-color;

            .dashicon {
                font-size: 1.5em;
                margin-inline-end: $o-space-20;
            }
        }
    }

    &.settings {
        li:not(.separator) {
            padding: $o-space-30 0;
        }

        .components-base-control {
            margin: 0;
        }
    }

    .block &_body {
        padding: 0;
    }

    .is-reusable-block &_body {
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background-color: white;
        }
        &::-webkit-scrollbar-thumb {
            background: $o-complementary-color;
        }

        .description {
            background: $o-warn-color-light;
        }
    }

    .is-reusable-block &_footer {
        .components-button.is-primary {
            background: $o-complementary-color;

            &:hover {
                background: $o-complementary-color-dark;
            }
        }
    }

    .resizer {
        position: absolute;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: $o-transition-default;

        &.top-left {
            top: -25px;
            left: -25px;
            cursor: nw-resize;
            .dashicon {
                transform: rotate(45deg) translateX(0);
            }
        }
        &.top {
            top: -25px;
            left: 5px;
            right: 5px;
            width: auto;
            cursor: n-resize;
            .fakeDashicon {
                top: -2px;
                width: 60%;
                height: 3px;
            }
        }
        &.top-right {
            top: -25px;
            right: -25px;
            cursor: ne-resize;
            .dashicon {
                transform: rotate(135deg) translateX(0);
            }
        }
        &.right {
            top: 5px;
            bottom: 5px;
            right: -25px;
            height: auto;
            cursor: e-resize;
            .fakeDashicon {
                left: 2px;
                height: 60%;
                width: 3px;
            }
        }
        &.bottom-right {
            bottom: -25px;
            right: -25px;
            cursor: se-resize;
            .dashicon {
                transform: rotate(-135deg) translateX(0);
            }
        }
        &.bottom {
            bottom: -25px;
            left: 5px;
            right: 5px;
            width: auto;
            cursor: s-resize;
            .fakeDashicon {
                top: 2px;
                width: 60%;
                height: 3px;
            }
        }
        &.bottom-left {
            bottom: -25px;
            left: -25px;
            cursor: sw-resize;
            .dashicon {
                transform: rotate(-45deg) translateX(0);
            }
        }
        &.left {
            top: 5px;
            bottom: 5px;
            left: -25px;
            height: auto;
            cursor: w-resize;
            .fakeDashicon {
                left: -2px;
                height: 60%;
                width: 3px;
            }
        }
        &:hover {
            opacity: 1;
            animation-name: twinkle;
            animation-duration: 0.6s;
            animation-iteration-count: infinite;
            animation-delay: 0.3s;
            animation-timing-function: ease-in-out;
        }
        .dashicon {
            color: $o-accent-color;
            height: auto;
            width: auto;
            font-size: 26px;
        }
        .fakeDashicon {
            position: relative;
            background-color: $o-accent-color;
        }
    }
}

.o-editor:has(.o-editor-app.resizing) .block-editor-block-list__block,
.o-editor:has(.o-editor-app.moving) .block-editor-block-list__block {
    opacity: 0.1;
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
