.components-panel {
    position: relative;
    border: 1px solid $o-main-color-border;
    border-radius: $o-border-radius-large;

    &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        border: 1px solid $o-accent-color-border;
        border-radius: $o-border-radius-large;
        opacity: 0;
        pointer-events: none;
    }

    > .components-panel__body > .components-panel__body-title {
        border-radius: $o-border-radius-large;
    }

    > .is-opened.components-panel__body > .components-panel__body-title {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:hover,
    &:focus,
    &:focus-within {

        border-color: transparent !important;

        &:after {
            opacity: 1;
        }

        > .components-panel__body > .components-panel__body-title {
            background: $o-accent-color-border !important;
        }

    }
}