.o-editor {

    .block-editor-block-list__layout[data-type="custom/wpe-slide"] {
        margin-top: 0;
        margin-bottom: 0;
        background: none;

        &::before {

            content: '';
            display: none;
        }

        &:hover > .block-list-appender {
            visibility: visible;
        }

        &:not([contenteditable])::focus::after {
            border: none;
        }

    }

}