.o-editor {
    .block-editor-block-list__block[data-type='custom/wpe-slider'] {
        & > .block-editor-block-list__layout[data-type='custom/wpe-slider'] {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: $o-space-90;
        }

        &:hover,
        &.is-selected,
        &.has-child-selected {
            &::before {
                visibility: visible;
            }

            .block-editor-block-list__block.block-editor-block-list__layout[data-type='custom/wpe-slide'] {
                &::before {
                    opacity: 1;
                }
            }
        }

        &:hover > .block-list-appender {
            visibility: visible;
        }
    }
}
