.o-editor {
    .block-editor-block-list__layout[data-type='custom/wpe-slide'] {
        margin-top: 0;
        margin-bottom: 0;
        background: none;
        z-index: 32;
        padding: $o-space-30;

        &:not([contenteditable])::focus::after {
            border: none;
        }

        &:hover > .o-slide-container > .block-list-appender {
            visibility: visible;
        }

        .o-slide-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}
