.o-editor {

    .tab-panel-wpe-component {
        width: 100%;
    }

    .components-tab-panel__tabs-item {
        border-radius: 0 !important;
    }

    .components-tab-panel__tabs {
        background: $o-accent-color-border;
        padding: 0 $o-space-70;
        position: sticky;
        top: 0;
        z-index: 9;

        button {
            position: relative;
            margin: 0 $o-space-30 !important;
            padding: $o-space-40 0;
            border-bottom: 2px solid transparent;
            transition: $o-transition-fast;

            &.active-tab {
                border-bottom: 2px solid $o-accent-color;
            }

            &:first-child {
                margin-left: 0 !important;
            }

            .error-attributes, .warning-attributes {
                position: absolute;
                top: 2px;
                right: -16px;
                color: white;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
            }
            .error-attributes {
                background: $o-accent-red-color;
            }
            .warning-attributes {
                background: var(--wp--preset--color--luminous-vivid-orange);
            }
        }

    }
    .components-tab-panel__tab-content {
        display: flex;
        flex-direction: column;
        gap: $o-space-40;
        border-bottom-left-radius: $o-border-radius;
        border-bottom-right-radius: $o-border-radius;
        padding: $o-space-60 $o-space-70;
    }
}