@keyframes o-toolbar-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body.post-type-page,
body.post-type-post {
    .o-editor {
        .is-root-container {
            padding: 0 !important;

            .block-editor-block-list__block {
                width: 100%;
                max-width: 100% !important;
            }
        }

        .block-editor-block-list__block {
            margin: 0 !important;
        }
    }
}

.o-editor {
    .editor-styles-wrapper.block-editor-writing-flow {
        background: var(--abt-background-editor, 'white');
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .o-preview-zone_loader {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--abt-background-editor, 'white') center no-repeat
            url('../../img/svg-loaders/oval.svg');
        opacity: 0.75;
    }

    .block-editor-block-list__block {
        user-select: none;
        opacity: 1;
        z-index: auto !important;
        transition: $o-transition-fast;

        /* wordpress outline */
        &::after {
            display: none !important;
        }

        /* handle grids */
        &:has(> .o-grid-container) {
            & > .o-toolbar-container {
                pointer-events: none;

                .o-toolbar {
                    pointer-events: all;
                }
            }
        }
        .block-list-appender {
            z-index: 31;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer !important;
            pointer-events: none !important;
            transition: $o-transition-fast;
            z-index: 10;
            outline: 3px solid var(--wp-admin-theme-color);
        }

        &:hover::before,
        &.is-selected::before {
            opacity: 1;
        }
        &.is-empty::before {
            opacity: 0.6;
        }
        &:hover:has(.block-editor-block-list__block:hover)::before {
            opacity: 0;
        }
    }

    &:has(.block-editor-block-list__block.is-selected)
        .block-editor-block-list__block:not(.is-selected) {
        opacity: 0.6;
        filter: blur(1px);
    }
    &:has(.block-editor-block-list__block.is-selected)
        .block-editor-block-list__block.is-selected
        .block-editor-block-list__block,
    &:has(.block-editor-block-list__block.is-selected)
        .block-editor-block-list__block.has-child-selected {
        opacity: 1;
        filter: none;
    }

    /**
    * Toolbar
    */
    .o-toolbar-container {
        display: block;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 31;
        top: 0;
        left: 0;
        animation: o-toolbar-in 0.1s ease-out forwards;
        cursor: pointer;

        .o-toolbar {
            // display: flex;
            display: none;
            align-items: center;
            gap: $o-space-30;
            padding: $o-space-20;
            border-radius: $o-border-radius;
            background: $o-main-color;
            box-shadow: $o-depth-100;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 10;
            transform: translateY(-50%) translateX(-50%);
            transition: $o-transition-default;

            &:after {
                content: ' ';
                position: absolute;
                border-style: solid;
                border-color: white transparent transparent transparent;
                top: calc(100% - 1px);
                left: 35%;
                margin-left: calc(25px * -1 / 2);
                border-width: calc(25px / 2);
                transform: skewX(-30deg);
            }

            .separator {
                width: 1px;
                height: 20px;
                background: $border300;
            }
            .title {
                font-size: 0.75em;
                font-weight: 600;
                padding-inline-end: calc($o-space-10);
                padding-inline-start: calc($o-space-10);
                color: $o-text-color;

                h2 {
                    color: $o-warn-color;
                }
            }

            .instruction {
                font-size: 0.75em;
                color: $o-text-color;
            }

            .is-primary {
                box-shadow: none;
                font-weight: 500;

                .dashicon {
                    margin-right: 4px;
                }
            }

            .components-dropdown {
                display: inline-flex;

                .components-dropdown-menu__toggle {
                    color: $o-text-color;

                    &:focus {
                        box-shadow: none;
                    }

                    &:hover {
                        background: $o-accent-color-hover;
                        color: $o-foreground-color;
                    }
                }
            }
        }
    }

    .is-reusable {
        .is-primary {
            background: $o-complementary-color;

            &:hover {
                background: $o-complementary-color-dark;
            }
        }
    }

    /**
    * Appender
    */
    .is-root-container > .wp-block.block-list-appender {
        display: none;
    }
}

#editor {
    .block-editor-block-popover__inbetween {
        display: none;
    }
}
