.o-editor {
                
    .wpe-component_edit_placeholder {
        padding: 0;
        box-shadow: none;
        outline: none;
        justify-content: flex-start;
        background: none;
    }

}