#editor {

    .interface-interface-skeleton.is-mode-visual {

        .block-editor-block-list__block {

            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                pointer-events: none;
                box-shadow: none;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 0;
                outline: 2px solid transparent;

                border: 1px solid rgb(0 124 186 / 50%);
                box-shadow:
                0px 0.8px 2.2px rgba(0, 0, 0, 0.014),
                0px 2px 5.3px rgba(0, 0, 0, 0.02),
                0px 3.8px 10px rgba(0, 0, 0, 0.025),
                0px 6.7px 17.9px rgba(0, 0, 0, 0.03),
                0px 12.5px 33.4px rgba(0, 0, 0, 0.036),
                0px 30px 80px rgba(0, 0, 0, 0.05)
                ;
            }

            &:not(:hover):not(.is-selected):not([data-type="custom/wpe-grid"].has-child-selected) > .abtButtonGroupEditZoneContainer,
            &:has( .block-editor-block-list__block:hover):not([data-type="custom/wpe-grid"]) > .abtButtonGroupEditZoneContainer {
                display: none;
            }

            &:not(:hover):not(.is-selected):has(.liveRenderingMessage) > .abtButtonGroupEditZoneContainer,
            &:has( .block-editor-block-list__block:hover):has(.liveRenderingMessage) > .abtButtonGroupEditZoneContainer {
                display: flex;
            }

            &:not(:hover):not(.is-selected):not(.is-empty):not(.is-reusable.has-child-selected):not([data-type="custom/wpe-grid"].has-child-selected):after,
            &:not(.is-reusable.has-child-selected):has(.block-editor-block-list__block:hover):not([data-type="custom/wpe-grid"]):after {
                border: none;
                box-shadow: none;
            }

            &:not(:hover):not(.is-selected):has(.liveRenderingMessage):after,
            &:has( .block-editor-block-list__block:hover):has(.liveRenderingMessage):after {
                border: 1px solid rgb(0 124 186 / 50%);
                box-shadow:
                0px 0.8px 2.2px rgba(0, 0, 0, 0.014),
                0px 2px 5.3px rgba(0, 0, 0, 0.02),
                0px 3.8px 10px rgba(0, 0, 0, 0.025),
                0px 6.7px 17.9px rgba(0, 0, 0, 0.03),
                0px 12.5px 33.4px rgba(0, 0, 0, 0.036),
                0px 30px 80px rgba(0, 0, 0, 0.05)
                ;
            }

            &[data-type="custom/wpe-column"]:has(.block-editor-block-list__block:hover):after,
            &[data-type="custom/wpe-column"]:has(.is-selected):after,
            &[data-type="custom/wpe-column"].is-empty:after {
                border: 1px dashed rgb(0 124 186 / 50%);
            }

            &.is-reusable {
                
                &::before, &::after {
                    content: none;
                }

                padding-top: 2rem;
                padding-bottom: 2rem;
                
                &:hover, &.is-selected, &.has-child-selected {
                    background: rgb(240 184 73 / 20%);
                }

                .block-editor-block-list__block::after {
                    border-color: rgb(240 184 73 / 50%);
                }
            }
        }
    }
}

body.is-dragging-components-draggable {

    #editor {

        .block-editor-block-list__block::after {
            border: 1px dashed rgb(0 124 186 / 50%) !important;
        }
    }
    
}