// .block-editor-block-list__layout .block-editor-block-list__block::after {
//     content: "";
//     pointer-events: none;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     border-radius: 2px;
//     box-shadow: 0 0 0 var(--wp-admin-border-width-focus) transparent;
// }
// .block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus::after {
//     position: absolute;
//     z-index: 1;
//     pointer-events: none;
//     content: "";
//     top: 1px;
//     bottom: 1px;
//     left: 1px;
//     right: 1px;
//     box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
//     border-radius: 1px;
//     outline: 2px solid transparent;
// }



#editor {

    .block-editor-block-list__layout{

        .block-editor-block-list__block {
    
            width: 90% !important;
            max-width: 90% !important;

            &::after {
                box-shadow: none;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 0;
            }
    
            &:focus::after,
            &:hover::after,
            &.is-selected::after {
                border: 1px dashed rgba(0, 124, 186, 0.5);
            }
        }
    }
}

.block-editor-block-inspector {

    .child-range-control {
        padding-left: 10px;
    }
}

.block-editor-block-list__layout {

    & > .wp-block {

        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        background: rgba(0,124,186,.05);

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }

        &.block-list-appender {
            border: 1px dashed rgba(0,124,186,.5);
            background: none;
            width: 100%;
            padding: initial;

            button {
                box-shadow: none;
            }
        }
        .block-list-appender {
            visibility: hidden;
        }

        & > .wp-block {
            // padding: initial;
            background: initial;
        }

        .alert {
            color: red;
            border: 2px solid red;
            padding: 4em  0;
            text-align: center;
        }

        
    }
}

.interface-interface-skeleton__sidebar {

    .components-panel__body {

        &.is-opened {

            .components-panel__body-title {
                background: #f0f0f0;
            }
        }

        .components-button.components-panel__body-toggle {
            box-shadow: none;
        }
    }

    .components-tab-panel__tabs {

        margin: -5px -16px 20px -16px;
        
        .active-tab {
            box-shadow: inset 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
            background: #f0f0f0;
        }
    }
}


// Button
#editor {

    .buttonGroupComponentModeContainer, .deviceButtonGroup{
        display: flex;
        justify-content: space-around;
        padding-bottom: 1rem;
        visibility: hidden;

        .components-button {
    
            &.is-pressed {
                background: #007cba;
                box-shadow: inset 0 0 0 1px #007cba;
            }
        }
    }
    
    .block-editor-block-list__block:hover, .block-editor-block-list__block.is-selected, .block-editor-block-list__block.has-child-selected {

        & > .buttonGroupComponentModeContainer, & > .deviceButtonGroup {
            visibility: visible;
        }
    }
}