.block-editor-block-inspector {

    .child-range-control {
        padding-left: 10px;
    }
}

.block-editor-block-list__layout {

    & > .wp-block {

        margin-top: 2rem;
        margin-bottom: 2rem;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }

        &.block-list-appender {
            border: 1px dashed white;
            background: none;
            width: 100%;
            padding: initial;

            .components-button {

                box-shadow: none;
                
                svg {
                    color: white;
                }
            }
        }
        .block-list-appender {
            visibility: hidden;
        }

        & > .wp-block {
            // padding: initial;
            background: initial;
        }

        .alert {
            color: red;
            border: 2px solid red;
            padding: 4em  0;
            text-align: center;
        }

        .liveRenderingMessage {
            text-align: center;
            padding: 80px 100px 50px 100px;
            color: white;
            position: relative;

            .abtButtonEditZone {
                display: inline-flex;
            }
        }
    }
}