.abtButtonEditZone {
    display: none;
    margin-bottom: 10px;
}

#abt-component-edit-zone{
    position: fixed;
    top: 0;
    right: 0;
    width: 800px;
    height: 100%;
    background: white;
    z-index: 99999;
    border-left: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 20%);
    transition: right 0.4s, box-shadow 0.4s;

    &.hide {
        right: -800px;
        box-shadow:none;
    }

    .edit-zone__header {

        padding: 20px 20px 0 20px;
        background: #007cba;
        color: white;
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 75px;
        box-sizing: border-box;
    }

    .edit-zone__body {

        padding: 20px;
        overflow: auto;
        position: absolute;
        left: 0;
        bottom: 75px;
        width: 100%;
        box-sizing: border-box;
        top: 75px;

        .wpe-component_edit_placeholder {

            padding: 0;
            box-shadow: none;
            outline: none;
    
            .components-placeholder__label {
                margin-bottom: 20px;
            }
    
            .basicField {
        
                .components-base-control__label, .components-input-control__label {
                    padding-bottom: 0;
                    margin-bottom: 8px;
                }
            }
        
            .tab-panel-wpe-component {
        
                .components-tab-panel__tabs {
                    background: #f3f4f5;
        
                    &-item {
                        margin-bottom: 0;
        
                        &:focus:not(:disabled), &.active-tab {
                            box-shadow: 0 3px #007CBA;
                        }
                    }
                }
        
                .components-tab-panel__tab-content {
                    padding: 10px 10px 0px 10px;
                }
            }
        
            .objectField-content {
        
                .tab-panel-wpe-component {
                    margin-top: 20px;
                }
            }
        
            .basicField, .repeatableField {
                border-bottom: 1px solid #73b7d94d;
                padding: 20px 0;
        
                &:last-child {
                    border-bottom: none;
                }
        
                .block-editor-media-placeholder {
                    box-shadow: none;
                    background: #f3f4f5;
                }
            }
        
            .repeatableField {
                
                .block-editor-media-placeholder {
                    margin-bottom: 8px;
                }
            }
        
            .objectField {
        
                .objectField-content {
                    background: #f3f4f5;
                    padding: 0 20px;
        
                    .basicField, .repeatableField {
                        border-color: #e2e4e7;
                    }
                }
            }
        
            .components-panel {
        
                margin-bottom: 8px;
                
                .components-panel__body {
                    padding: 0;
        
                    .components-panel__body-title {
                        margin: 0;
                        // padding: 10px 0 12px 15px;
                        
                        .components-button {
                            display: block;
                        }
        
                        .components-button:focus {
                            box-shadow: none;
                        }
        
                        .removeRepeatable {
                            right: 55px;
                        }
                    }
                    &.is-opened > .components-panel__body-title {
        
                        background: #f3f4f5;
                    }
        
                    .objectField-content {
                        background: white;
                    }
        
                }
                
                &:hover .removeRepeatable {
                    visibility: visible;
                }
            }
        
            .components-base-control {
                
                position: relative;
        
                .removeRepeatable {
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding-right: 0;
                }
        
                .components-select-control__input {
                    margin-left: 16px;
                }
            }
        
            .components-base-control__field {
        
                &:hover .removeRepeatable {
                    visibility: visible;
                }
            }
        
            .components-placeholder {
        
                .media-preview-container {
                    position: relative;
                    width: 100%;
                    border: 1px solid #e2e4e7;
                    padding: 10px;
                    display: flex;
                    background: white;
        
                    .file-details {
                        margin-left: 10px;
                    }
        
                    .reset-button {
                        position: absolute;
                        background: white;
                        top: 16px;
                        right: 16px;
                        display: none;
                    }
                    &:hover > .reset-button {
                        display: inline-flex;
                    }
                }
            }
        
            .rich-text-container {
        
                .block-editor-rich-text__editable {
                    background: #fff;
                    padding: 6px 8px;
                    border-radius: 2px;
                    border: 1px solid #757575;
                }
            }
        
            .link-control-container {
        
                padding: 1em 0;
                background: white;
                border: 1px solid #cce4f1;
        
                .components-base-control__label {
                    margin: 0 16px;
                }
                
                .components-text-control__input {
                    width: auto;
                }
        
                .components-button.removeRepeatable {
                    right: 16px;
                }
        
                .block-editor-link-control {
                    border-top: 1px solid #e2e4e7;
                }
                
            }
        
            .radio-control-container {
                
                padding: 1em;
                background: white;
                border: 1px solid #cce4f1;
            }
        
            .dateTime-container {
                background: #f3f4f5;
                padding: 20px;
                border-radius: 2px;
        
                .components-datetime {
                    display: flex;
                    justify-content: space-between;
        
                    .components-datetime__buttons {
                        justify-content: flex-end;
                        flex-direction: column;
                        align-items: flex-end;
                    }
                }
            }
        }
    }

    .edit-zone__footer {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
        background: #007cba;
        color: white;
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 75px;
        box-sizing: border-box;

        .components-button.is-primary {
            color: var(--wp-admin-theme-color);
            background: white;

            &:hover {
                background: var(--wp-admin-theme-color-darker-10);
                color: #fff;
            }
        }
    }
}