#editor {

    .editor-styles-wrapper.block-editor-writing-flow {

        .is-root-container.is-layout-flow {

            .block-editor-block-list__block[data-type="custom/wpe-grid"] {

                padding-top: 60px;
                padding-bottom: 20px;
        
                .gridContainer {
        
                    display: grid;
                    padding: 4px;
                    column-gap: 4px;
                    row-gap: 4px;
                    grid-auto-columns: 1fr;
                    grid-auto-flow: column;
        
                    & > .block-editor-block-list__block[data-type="custom/wpe-column"] {
                        width: 100% !important;
                        max-width: 100% !important;

                        .block-editor-block-list__block {
                            width: 100% !important;
                            max-width: 100% !important;
                        }

                        &:nth-child(2) {
                            margin-top: 0;
                        }
                    }
                }

                .containerAddColumn {
                    display: flex;
                    position: relative;
                    visibility: hidden;
                    border: 1px dashed white;
                    margin: 0 4px;
                    padding: 20px 0;
                    color: white;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;

                    .dashicon {
                        margin-right: 10px;
                    }
                }
                &:hover > .containerAddColumn,
                &.is-selected > .containerAddColumn,
                &.has-child-selected > .containerAddColumn {
                    visibility: visible;
                }
            }
        
            .block-editor-block-list__layout.is-root-container > .block-editor-block-variation-picker {
                max-width: $max_width_main_column;
                margin: auto;
                margin-top: $base_padding;
            }
        }
    }
}