#editor {
    
    .edit-post-visual-editor__post-title-wrapper {

        margin-top: 0;
        margin-bottom: 0;
        background: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .editor-styles-wrapper.block-editor-writing-flow {
        padding: 0;
    }

    .block-editor-block-list__layout {
        padding-top: 4rem;
    }
}